:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.own-message {
    font-size: 14px;
}
.reply-message {
    color: #626365fa;
    border-radius: 5px;
    font-size: 14px;
}
.reply-message-avatar {
    border: 0.2px solid #f8f9fa;
    width: 2.5rem;
    height: 2.5rem;
}
.border-radius-15 {
    border-radius: 15px;
}
.no-border {
    border: none;
}
.reply-message-textbox {
    color: #363739;
    font-size: 14px;
}
.reply-user-panel {
    background-color: #fff;
    height: 75px;
}
.reply-user-avatar {
    border: 0.2px solid #f8f9fa;
    width: 3rem;
    height: 3rem;
}
.reply-user-name {
    font-size: 14px;
    color: #363739;
}
.online-font-text {
    font-size: 0.64rem;
    line-height: 1rem;
}
.online-font-icon {
    width: 0.7rem;
    height: 0.75rem;
}
.reply-message-empty-div {
    width: 2.5rem;
}
.message-container {
    background-color: #e5e7ebbf;
}