<div class="flex reply-user-panel p-1">
    <div class="flex flex-1 items-center gap-2 p-4">
        <img *ngIf="receiver?.Avatar; else defaultAvatar" src="https://i.pravatar.cc/150?img=8"
            class="rounded-full reply-user-avatar" alt="User Avatar">
        <ng-template #defaultAvatar>
            <div
                class="background-color text-white rounded-full default-avatar-panel flex items-center justify-center text-lg font-bold">
                {{receiver?.FirsttwoLetters ?? ''}}
            </div>
        </ng-template>
        <div class="flex flex-col">
            <h3 class="text-lg font-semibold text-gray-800">{{receiver?.FullName}}</h3>
            <p class="text-sm text-gray-500 online-font-text">
                <svg xmlns="http://www.w3.org/2000/svg" class="online-font-icon inline-block text-green-500"
                    viewBox="0 0 24 24" fill="currentColor">
                    <circle cx="12" cy="12" r="10" fill="currentColor" />
                    <circle cx="12" cy="12" r="6" fill="currentColor" />
                    <circle cx="12" cy="12" r="4" fill="currentColor" />
                </svg>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 inline-block text-gray-500" viewBox="0 0 24 24" fill="currentColor">
                    <circle cx="12" cy="12" r="10" fill="currentColor" />
                    <line x1="6" y1="6" x2="18" y2="18" stroke="white" stroke-width="2" />
                </svg> -->
                {{'Online'}}
            </p>
        </div>
    </div>
    <div class="flex items-center gap-2 p-4">
        <button class="p-3 transition hover:bg-gray-100 rounded-full hover-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
        </button>
        <button class="p-3 transition hover:bg-gray-100 rounded-full hover-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
            </svg>
        </button>
        <button class="p-3 transition hover:bg-gray-100 rounded-full hover-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>
        </button>
        <button class="p-3 transition hover:bg-gray-100 rounded-full hover-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>

        </button>
    </div>
</div>
<!-- Messages -->
<div class="flex flex-col flex-1 overflow-y-auto p-6 space-y-3 message-container" #messagesContainer>
    <div *ngIf="messages.length === 0" id="welcomeMessage" class="text-center text-gray-400 mt-10 text-lg">Select a
        conversation</div>
    <ng-container *ngFor="let message of messages; let i = index">
        <div *ngIf="message.SenderId === currentUser?.Id"
            class="flex items-start justify-end gap-2 own-message transition">
            <div class="bg-blue-500 text-white p-3 rounded-md max-w-xs shadow border-radius-15">
                <!-- Replace this with your actual message -->
                {{message.Content}}
            </div>
        </div>
        <div *ngIf="message.SenderId !== currentUser?.Id"
            class="flex items-start justify-start gap-2 reply-message transition">
            <div *ngIf="i > 0 && message.SenderId === messages[i - 1].SenderId" class="reply-message-empty-div"></div>
            <img *ngIf="i === 0 || message.SenderId !== messages[i - 1].SenderId" src="https://i.pravatar.cc/150?img=8"
                class="rounded-full reply-message-avatar" alt="User Avatar">
            <div class="bg-white text-gray-700 p-3 rounded-md max-w-xs shadow border-radius-15">
                {{message.Content}}
            </div>
        </div>
    </ng-container>
</div>

<!-- Input -->
<form #MessageForm="ngForm" (ngSubmit)="sendMessage(MessageForm)" class="space-y-6 bg-white" novalidate>
    <div class="p-4 bg-white/90 backdrop-blur-sm flex items-center border-t gap-2">
        <!-- Icons -->
        <button title="Upload File" class="p-2 hover:bg-gray-100 transition">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.3"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
            </svg>

        </button>

        <button title="Upload Image" class="p-2 hover:bg-gray-100 transition">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.3"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
        </button>
        <!-- Text Input -->
        <input #message="ngModel" ngModel name="message" type="text" placeholder="Type a message..."
            class="flex-1 no-border px-2 py-2 focus:outline-none transition reply-message-textbox" autocomplete="off" />
        <button title="Add Reaction" class="p-2 hover:bg-gray-100 transition">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#007bff" class="size-6">
                <path
                    d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z" />
            </svg>

        </button>
    </div>
</form>