:host {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.group-bar {
    transition: color 0.5s ease-in-out;
}
.add-contact-icon {
    color: #007bffd6;
    padding: 0.2rem 0.8rem;
    background-color: #e7e7e785;
    border-radius: 30px;
    font-weight: 700;
    font-size: 20px;
}
.add-contact-icon:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.contact-search-input {
    font-size: 12.5px;
    border: none;
    font-weight: 400;
}
.chat-item-notification {
    height: 9px;
    width: 9px;
    bottom: 18px;
    right: 14px;
}
.p-75 {
    padding: 0.75rem;
}
.p-80 {
    padding: 0.8rem;
}
.p-90 {
    padding: 0.9rem;
}

