<div class="flex reply-user-panel"></div>
<!-- Messages -->
<div class="flex flex-col flex-1 overflow-y-auto p-6 space-y-3 bg-white/60 backdrop-blur-md">
    <div *ngIf="messages.length === 0" id="welcomeMessage" class="text-center text-gray-400 mt-10 text-lg">Select a
        conversation</div>
    <ng-container *ngFor="let message of messages; let i = index">
        <div *ngIf="message.SenderId === currentUser?.Id" class="flex items-start justify-end gap-2 own-message">
            <div class="bg-blue-500 text-white p-3 rounded-md max-w-xs shadow border-radius-15">
                <!-- Replace this with your actual message -->
                {{message.Content}}
            </div>
        </div>
        <div *ngIf="message.SenderId !== currentUser?.Id" class="flex items-start justify-start gap-2 reply-message">
            <img src="https://i.pravatar.cc/150?img=8" class="rounded-full reply-message-avatar" alt="User Avatar">
            <div class="bg-white text-gray-700 p-3 rounded-md max-w-xs shadow border-radius-15">
                {{message.Content}}
            </div>
        </div>
    </ng-container>
</div>

<!-- Input -->
<form #MessageForm="ngForm" (ngSubmit)="sendMessage(MessageForm)" class="space-y-6 bg-white" novalidate>
    <div class="p-4 bg-white/90 backdrop-blur-sm flex items-center border-t gap-2">
        <!-- Text Input -->
        <input #message="ngModel" ngModel name="message" type="text" placeholder="Type a message..."
            class="flex-1 no-border px-2 py-2 focus:outline-none transition reply-message-textbox" autocomplete="off" />
        <!-- Icons -->
        <button title="Upload File" class="p-2 hover:bg-purple-100 rounded-full transition">
            📎
        </button>

        <button title="Upload Image" class="p-2 hover:bg-purple-100 rounded-full transition">
            🖼️
        </button>

        <button title="Add Reaction" class="p-2 transition">
            <span class="text-lg cursor-pointer hover:text-blue-500 transition">👍</span>
        </button>
    </div>
</form>