.w-20-percent {
  width: 20%;
}

.w-80-percent {
  width: 80%;
}

.w-100-percent {
  width: 100%;
}

.navbar-brand-box {
  padding: 15px;
}

.navbar-config {
  flex-grow: 1;
}

.btn-switchbar svg {
  color: #777;
  transition: color 0.1s ease;
}

.btn-switchbar.active svg {
  color: #0166d3;
}
.sidebar {
  background-color: #dbdcdd2b;
}
.logo {
  border-radius: 15px;
  border: 3px solid #D8B897;
}
